/* Règles qui valent pour toute la page */

body
{
	font-family:'Raleway', sans-serif;
}

body, nav, ul, p, h1, h2, h3
{
	margin: 0;
	padding: 0;
}

h1
{
	font-size: 1.2em;
}

h3
{
	font-size: 1em;
}

h2
{
	font-size: 1.2em;

}

img
{
	border-radius: 10px;
}

p
{
	font-size: 0.9em;
}

a
{
	text-decoration: none;
	color: black;
}

ul
{
	text-decoration: none;
	list-style-type: none;
}

#bloc_page1
{
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 8px;
	padding-top: 0px;
}

/* HEADER */

#titre_principal
{
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}

#logo
{
	padding-top: 20px;
}

#navigation
{
	width: 100%;
}

#titre_principal nav ul
{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	font-size: 0.9em;
}

ul li
{
	margin: 0;
}

#titre_principal li
{
	padding-top: 30px;
}

#barre_recherche_texte
{
	margin-bottom: 15px;
}

#barre_recherche_texte h2
{
	font-size: 0.9em;
	font-weight: 400;
}

#filtres
{
	display: flex;
	align-items: center;
}

#logo ul
{
	display: none;
}

#filtre_normal
{
	display: flex;

}

.filtre_n:hover
{
    border-top: 3px solid #0065FC;
}

.filtre_n a:hover
{
	color: #0065FC;
}

.filtre_n
{
	border-top: 3px solid #0065fc00;
	margin-left: 70px;
}

#filtre_blue
{
	border-top: 3px solid #0065fc00;
	order: 1;
	margin-left: 70px;
}

#filtre_blue a
{
	color: blue;
	font-weight: bold;
}

#filtre_blue:hover
{
	border-top: 3px solid #0065fc;
}

#barre_recherche
{
	display: flex;
	margin-bottom: 10px;
}

#barre_recherche_texte h3
{
	margin-block-end: 0;
}

#barre_recherche_texte p
{
	margin-block-start: 0.3em;
}

#ping
{
	display: flex;
	width: 35px;
	background-color: #F2F2F2;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
}

#site-search
{
	height: 100%;
	font-weight: bold;
	padding-left: 5%;
	border: 1px solid #8080804d;
	border-left-color: white;
}

#search_but
{
	background-color: #007BFF;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
	border-style: none;
}

#search_but i
{
	display: none;
}

#filtres_all
{
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	width: 60%;
	padding: 15px;
	padding-left: 0;
	padding-right: 0;
}

#cartouchef
{
	display: flex;
	align-items: center;
	border: 1px solid #8080804d;
	border-radius: 30px;
	cursor: pointer;	
}

#cartouchef p:hover
{
	color: blue;
}

#cartouchef:hover
{
	transform: scale(1.02);
}

#cartouchef p
{
	margin-left: 5px;
	padding-right: 10px;
}

#cartouche_eco
{
	display: flex;
	align-items: center;
	border: 1px solid #8080804d;
	border-radius: 30px;
	cursor: pointer;
}

#cartouche_eco p:hover
{
	color: blue;
}	

#cartouche_eco:hover
{
	transform: scale(1.02);
}

#cartouche_eco p
{
	margin-left: 5px;
	padding-right: 10px;
}

.cartouche
{
	display: flex;
	align-items: center;
	border: 1px solid #8080804d;
	border-radius: 30px;
	cursor: pointer;
}

.cartouche:hover
{
	transform: scale(1.02);
}

.cartouche p:hover
{
	text-shadow: currentColor;
	color: blue;
}

.cartouche p
{
	margin-left: 5px;
	padding-right: 10px;
}

#filtre
{
	margin-left: 0;
}

.cercle
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: -3px;
    margin-right: 5px;
    background: #DEEBFF;
}

#dispo_logements
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#dispo_logements p
{
	margin-left: 10px;
}

/* Article de la 1ère section qui concerne les hebergements principaux */

section
{
	display: flex;
}

#hebergements
{
	width: 68%;
	flex-direction: column;
	margin-right: 39px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#hebergements, #populaires
{
	display: flex;
	background-color: #F2F2F2;
}

#hebergements, #populaires
{
	border-radius: 10px;
}

#first_line
{
	display: flex;
	margin-left: 0;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}


#hebergements h2
{
	margin-left: 3%;
	margin-block-start: 1.5em;
	margin-block-end: 0.2em;
}


#hebergements figure
{
	background-color: white;
	width: 230px;
	height: 190px;
	border-radius: 10px;
	padding: 5px;
	margin: 13px;
	overflow: hidden;
	box-shadow: 0 4px 6px #0000001f;
	cursor: pointer;
}

#hebergements figure:hover
{
	transform: scale(1.02);
}

#hebergements figcaption
{
	position: absolute;
	background: white;
	width: 220px;
	padding-left: 10px;
	padding-top: 4px;
}

#hebergements img
{
	height: 100%;
	width: 100%;
	margin-bottom: -66px;
	object-fit: cover;
}

.fa-star, .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-info-circle
{
	color: #0065FC;
}

.fa-star
{
	font-size: 10px;
}

#hebergements figure h3
{
	padding-top: 2px;
}

#hebergements p
{
	margin-top: 3px;
}

#afficher
{
	margin-left: 25px;
	margin-top: 30px;
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 1.3em;
}

/* Aside de la 1ère section qui concerne les hebergements populaires */ 

#populaires
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 32%;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 15px;
}

#populaires img
{
	height: 100%;
	width: 45%;
	object-fit: cover;
}

#populaires figure
{
	background-color: white;
	width: 340px;
	height: 140px;
	padding: 5px;
	margin-block: 0.83em;
	border-radius: 10px;
	box-shadow: 0 4px 6px #0000001f;
}

#populaires figure:hover
{
	transform: scale(1.02);
}

#populaires figcaption
{
	float: right;
	width: 51%;
    padding-left: 4%;
}

#populaires h2
{
	margin-right: 160px;
	margin-block-start: 1.5em;
	margin-block-end: 0.2em;
}

#populaires p
{
	margin-bottom: 40px;
}

#populaires h3
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#titre_popu
{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-right: 5%;
	margin-left: 5%;
}

/* Article de la 2ème section qui concerne les activités */

#activites h2
{
	margin-bottom: 20px;
}

#details_act
{
	display: flex;
	margin-bottom: 30px;
}

.big_act 
{
	border-radius: 10px;
	box-shadow: 0 4px 6px #0000001f;
	height: 450px;
	margin: 0;
}

.big_act h3
{
	margin-bottom: 14px;
	padding-top: 15px;

}

#activites figure
{
	width: 290px;
}

#activites figure:hover
{
	transform: scale(1.02);
}

#pomegues_frioul
{
	display: flex;
	flex-direction: column;
}

#pomegues
{
	height: 244px;
	border-radius: 10px;
	box-shadow: 0 4px 6px #0000001f;
	margin-top: 0;
}

#frioul
{
	height: 175px;
	border-radius: 10px;
	box-shadow: 0 4px 6px #0000001f;
}

#notre_dame_longchamp
{
	display: flex;
	flex-direction: column;
}

#notre_dame
{
	height: 194px;
	border-radius: 10px;
	box-shadow: 0 4px 6px #0000001f;
	margin-top: 0;
}

#longchamp
{
	height: 225px;
	border-radius: 10px;
	box-shadow: 0 4px 6px #0000001f;
}

#activites figure img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#activites h3
{
	margin-left: 4%;
}

#pomegues h3, #notre_dame h3, #frioul h3, #longchamp h3
{
    height: 44px;
    background: white;
    width: 279px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 1px;
}

#activites figcaption
{
	margin-top: -49px;
    position: absolute;
    background: white;
    width: 290px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* FOOTER */

footer
{
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

footer h3
{
	padding-top: 30px;
	padding-bottom: 20px;
}

#a_propos
{
	margin-left: 10px;
}

#assistance
{
	padding-right: 130px;
}

footer div
{
	width: 20%;
}

footer li
{
	padding-bottom: 10px;
}

footer nav ul
{
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	text-decoration: none;
}

/* Responsive */

@media (min-width: 320px) and (max-width: 780px)
{
	body
	{
		margin: 0;
	}

	#barre_recherche_texte
	{
		width: auto;
	}

	#bloc_page1
	{
		width: auto;
		padding: 0;
	}

	header
	{
		padding: 5px;
	}

	#titre_principal
	{
		flex-direction: column;
	}

	#titre_principal nav ul
	{
		justify-content: space-around;
	}

	#titre_principal nav li 
	{
    	padding-top: 30px;
	}

	#logo
	{
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	#logo ul
	{
		display: inline-block;
	}

	#logo li
	{
		padding-top: 15px;
	}

	#barre_recherche
	{
		margin-top: 20px;
	}

	.reche
	{
		display: none;
	}

	#search_but i
	{
		display: inline-block;
	}

	#filtre_blue
	{
		margin: 0;
		display: none;
	}

	#filtre_blue_mobile a
	{
		color: blue;
		font-weight: bold;
	}

	.filtre_n
	{
		border-bottom: 3px solid lightgray;
		margin: 0;
		padding: 41px;
		padding-bottom: 10px;
		border-top: none;
	}

	.filtre_n:hover
	{
		border-top: none;
		border-bottom: 3px solid #0065FC;

	}

	#filtres_all
	{
		flex-wrap: wrap;
	}

	#filtres
	{
		align-items: flex-start;
		padding-bottom: 15px;
	}

	.cartouche
	{
		margin-bottom: 5%;

	}

	#cartouche_eco
	{
		margin-bottom: 5%;
	}

	#cartouchef
	{
		margin-bottom: 5%;
	}

	section
	{
		flex-direction: column-reverse;
	}

	#populaires
	{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	#titre_popu
	{
		justify-content: space-between;
	}

	#populaires h2
	{
		margin-right: 83px;
	}

	#populaires figure
	{
		width: 90%;
		margin-right: 0;
		margin-left: 0;
	}

	#populaires figure img
	{
		width: 40%;
	}

	#hebergements
	{
		width: 100%;
		background-color: white;
		margin-right: 0;
		margin-left: 0;
	}

	#hebergements figure
	{
		width: 90%;
		margin-left: 0;
		margin-right: 0;
	}

	#hebergements figcaption
	{
		width: 100%;
	}

	#afficher
	{
		margin-left: 0;
	}

	#activites
	{
		width: 100%;
		margin: auto;
	}

	#activites figure
	{
		height: 200px;
		margin: 10px;
		margin-right: 0;
		margin-left: 0;
	}

	#details_act
	{
		align-items: center;
		flex-direction: column;
	}

	#activites h2
	{
		margin-left: 3%;
	}

	#activites h3
	{
		width: 72%;
	}

	#activites figcaption
	{
		width: 91%;
	}

	#activites:hover figcaption
	{
		width: 100%;
	}

	footer
	{
		display: flex;
		flex-direction: column;
		margin: 0;
		padding-bottom: 20px;
	}

	footer div
	{
		width: auto;
		margin-left: 20px;
	}

	#a_propos
	{
		margin-left: 20px;
	}

}

@media (min-width: 768px) and (max-width: 1388px)
{
	body
	{
		margin: 0;
	}

	#barre_recherche_texte
	{
		width: auto;
	}

	#bloc_page1
	{
		width: auto;
		padding: 0;
	}

	header
	{
		padding: 5px;
	}

	#filtres_all
	{
		width: 100%;
	}

	section
	{
		flex-direction: column-reverse;
	}

	#populaires
	{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	#hebergements
	{
		width: 100%;
	}

	#activites
	{
		width: 100%;
		margin: auto;
	}

	#details_act
	{
		align-items: center;
		flex-direction: column;
	}

		#activites figure
	{
		height: 300px;
		margin: 10px;
		margin-right: 0;
		margin-left: 0;
	}

	#bloc_page2
	{
		width: auto;
	}

	footer
	{
		width: 100%;
	}
}